.button {
    font-size: 1.4rem;
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    &:hover {
        cursor: pointer;
    }

    &.button-primary {
        background-color: $colorOrange;
        color: $colorWhite;
        padding: 1rem 2.5rem;
        border: 2px solid transparent;
        font-weight: bold;

        &:hover,
        &:active {
            background-color: transparent;
            border: 2px solid $colorOrange;
            color: $colorOrange;
        }
    }
}