
.heading-primary {
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    background-image: linear-gradient(to right, $colorBlue, $colorBlue1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 5rem;
    margin-bottom: 2rem;
    letter-spacing: -2px;

    @include maxWidthBreakpoint(900) {
        font-size: 3rem;
        line-height: 3.7rem;
    }

    &.heading-primary-light {
        background-image: linear-gradient(to right, $colorWhite3, $colorGrey6);
    }
}

.parag {
    font-size: 1.5rem;
    color: $colorGrey3;
    line-height: 2.5rem;

    &.parag-light {
        color: $colorGrey5;
    }

    &:not(:last-child) {
        margin-bottom: 3.5rem;
    }
}