// max width media query
@mixin maxWidthBreakpoint($breakpoint) {
    @media only screen and (max-width:($breakpoint/16)+em) {
        @content
    };
}

// min width media query
@mixin minWidthBreakpoint($breakpoint) {
    @media only screen and (min-width:($breakpoint/16)+em) {
        @content
    };
}

// min and max media query
@mixin minmaxWidthBreakpoint($minBreakpoint, $maxBreakpoint) {
    @media only screen and (min-width:($minBreakpoint/16)+em) and (max-width:($maxBreakpoint/16)+em) {
        @content
    };
}
