// COLORS
$colorWhite: #ffffff;
$colorWhite1: #f5f5f5;
$colorWhite2: #e8e8e8;
$colorWhite3: #e2e2e2;
$colorBlack1: #000;
$colorBlack2: #1b1b1b;
$colorOrange: #e8762c;
$colorGrey: #515151;
$colorGrey1: #7b7b7b;
$colorGrey2: #484848;
$colorGrey3: #919191;
$colorGrey4: #333333;
$colorGrey5: #d1d1d1;
$colorGrey6: #c5c5c5;
$colorBlue: #59879b;
$colorBlue1: #1c447e;
$colorBlue2: #2493d3;
