*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }
  body.active {
    overflow: hidden; }

.heading-primary {
  font-size: 4rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  font-weight: 300;
  background-image: linear-gradient(to right, #59879b, #1c447e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 5rem;
  margin-bottom: 2rem;
  letter-spacing: -2px; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 3rem;
      line-height: 3.7rem; } }
  .heading-primary.heading-primary-light {
    background-image: linear-gradient(to right, #e2e2e2, #c5c5c5); }

.parag {
  font-size: 1.5rem;
  color: #919191;
  line-height: 2.5rem; }
  .parag.parag-light {
    color: #d1d1d1; }
  .parag:not(:last-child) {
    margin-bottom: 3.5rem; }

.button {
  font-size: 1.4rem;
  transition: all .3s;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; }
  .button:hover {
    cursor: pointer; }
  .button.button-primary {
    background-color: #e8762c;
    color: #ffffff;
    padding: 1rem 2.5rem;
    border: 2px solid transparent;
    font-weight: bold; }
    .button.button-primary:hover, .button.button-primary:active {
      background-color: transparent;
      border: 2px solid #e8762c;
      color: #e8762c; }

.header {
  max-width: 95%;
  padding: 3rem 10% 3rem 12%;
  display: flex;
  align-items: center;
  margin: 0 auto; }
  @media only screen and (max-width: 84.375em) {
    .header {
      padding: 3rem 6rem 3rem 7.5rem; } }
  @media only screen and (max-width: 75em) {
    .header {
      padding: 2rem 3rem 2rem 3rem; } }
  .header .logo-box {
    margin-right: auto;
    z-index: 55; }
  @media only screen and (max-width: 68.75em) {
    .header .logo-img {
      height: 5rem;
      width: auto; } }
  @media only screen and (max-width: 60em) {
    .header .logo-img {
      height: 3.5rem;
      width: auto; } }

.footer {
  background-color: #1b1b1b;
  padding: 3rem 2rem 5rem 2rem; }
  @media only screen and (max-width: 55em) {
    .footer {
      padding: 3rem 2rem 0rem 2rem; } }
  .footer .footer-images-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -2rem; }
    @media only screen and (max-width: 55em) {
      .footer .footer-images-container {
        margin-left: 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .footer .footer-images-container a {
          margin-bottom: 2.5rem; } }
  .footer .footer-img {
    height: 2rem;
    width: auto; }
    @media only screen and (max-width: 55em) {
      .footer .footer-img:not(:last-child) {
        margin-bottom: 2.5rem; } }
  .footer .footer-menu {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 68.75em) {
      .footer .footer-menu {
        max-width: 100%; } }
  @media only screen and (max-width: 55em) {
    .footer .footer-menu-item {
      display: flex;
      flex-direction: column;
      min-width: 50%;
      align-items: center; }
      .footer .footer-menu-item:not(:last-child) {
        margin-bottom: 2.5rem; } }
  @media only screen and (max-width: 28.125em) {
    .footer .footer-menu-item {
      min-width: 100%; } }
  .footer .menu-item-title {
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: uppercase;
    min-width: 15.5rem;
    min-height: 3rem;
    background-color: #333333;
    text-align: center;
    padding: 1rem;
    display: inline-block; }
    .footer .menu-item-title:not(:last-child) {
      margin-bottom: 1.5rem; }
    @media only screen and (max-width: 55em) {
      .footer .menu-item-title {
        font-size: 1.7rem;
        min-width: 80%; } }
  .footer .footer-parag {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: #e8e8e8;
    transition: all .3s; }
    @media only screen and (max-width: 55em) {
      .footer .footer-parag {
        padding-left: 0rem;
        font-size: 1.4rem; } }
    .footer .footer-parag.link {
      padding-left: 2rem; }
      @media only screen and (max-width: 55em) {
        .footer .footer-parag.link {
          margin-bottom: 2rem;
          padding-left: 0rem; } }
      .footer .footer-parag.link:hover {
        cursor: pointer;
        color: #7b7b7b; }

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  padding-left: 7%; }
  @media only screen and (max-width: 68.75em) {
    .main-nav {
      padding-left: 0%; } }
  @media only screen and (max-width: 56.25em) {
    .main-nav {
      display: none; } }
  .main-nav .main-nav-link:link, .main-nav .main-nav-link:visited {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #515151;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    transition: all .3s; }
  .main-nav .main-nav-link:hover, .main-nav .main-nav-link:active {
    color: #e8762c; }
  @media only screen and (max-width: 60em) {
    .main-nav .button.button-primary {
      padding: .4rem 1.7rem; } }

.mobile-nav {
  display: none;
  height: 100vh;
  transform: translateY(-100vh);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .3s;
  z-index: 20;
  background-color: #1b1b1b; }
  @media only screen and (max-width: 56.25em) {
    .mobile-nav {
      display: block; } }
  .mobile-nav.active {
    transform: translateY(0vh); }
  .mobile-nav .mob-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; }
  .mobile-nav .mnav-menu-item {
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
    color: #e8762c;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }
    .mobile-nav .mnav-menu-item:not(:last-child) {
      margin-bottom: 6vh; }

.mobile-menu-bar {
  display: none;
  z-index: 21; }
  .mobile-menu-bar .mobile-menu-close, .mobile-menu-bar .mobile-menu-icon {
    display: none;
    transition: all .5s;
    width: 2.5rem;
    height: 2rem; }
  .mobile-menu-bar .mobile-menu-close.active, .mobile-menu-bar .mobile-menu-icon.active {
    display: block; }
  @media only screen and (max-width: 56.25em) {
    .mobile-menu-bar {
      display: flex;
      padding-top: .5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 5rem; } }

.main-carousel .owl-stage-outer .owl-stage {
  max-height: 75vh;
  overflow: hidden; }

.main-carousel .owl-dots .owl-dot span {
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border: 0.3rem solid #2493d3; }

.main-carousel .owl-dots .owl-dot.active span {
  background-color: #2493d3; }

@media only screen and (max-width: 31.25em) {
  .main-carousel.owl-carousel .owl-item img {
    width: initial;
    height: 75vh; } }

.info-section {
  display: flex;
  padding-left: 16rem;
  margin-top: 3rem; }
  @media only screen and (max-width: 75em) {
    .info-section {
      padding-left: 6rem; } }
  @media only screen and (max-width: 62.5em) {
    .info-section {
      padding-left: 0rem; } }
  .info-section .info-section-content {
    display: flex;
    background-color: #ffffff;
    position: relative;
    bottom: -5rem;
    right: 0;
    padding-left: 6rem; }
    @media only screen and (max-width: 90.625em) {
      .info-section .info-section-content {
        flex-direction: column; } }
    @media only screen and (max-width: 56.25em) {
      .info-section .info-section-content {
        padding-left: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .info-section .info-section-content {
        position: static; } }
  .info-section img {
    position: absolute;
    bottom: -2rem;
    right: 0rem; }
    @media only screen and (max-width: 90.625em) {
      .info-section img {
        position: relative; } }
    @media only screen and (max-width: 75em) {
      .info-section img {
        max-height: 40rem; } }
  .info-section .info-section-left {
    flex: 1;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 5rem; }
    @media only screen and (max-width: 90.625em) {
      .info-section .info-section-left {
        padding-right: 5rem;
        justify-content: flex-start; } }
    @media only screen and (max-width: 56.25em) {
      .info-section .info-section-left {
        padding-right: 2rem; } }
  .info-section .info-section-right {
    flex: 1;
    min-width: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
    @media only screen and (max-width: 43.75em) {
      .info-section .info-section-right {
        display: none; } }

.platform-section {
  background-image: url("../img/tablet.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15rem 25.5rem 10rem 20.5rem; }
  @media only screen and (max-width: 75em) {
    .platform-section {
      padding: 15rem 15rem 10rem 10rem; } }
  @media only screen and (max-width: 62.5em) {
    .platform-section {
      padding: 15rem 5rem 5rem 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .platform-section {
      padding: 7rem 2em 2rem 2rem; } }
  @media only screen and (max-width: 43.75em) {
    .platform-section {
      padding: 2rem; } }
  .platform-section .heading-primary-light {
    padding-left: 1.5rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .platform-section .heading-primary-light {
        padding-left: 0rem; } }
  .platform-section .platform-content {
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .platform-section .platform-content {
        flex-direction: column-reverse; } }
  .platform-section .platform-content-left {
    flex: 1;
    position: relative;
    left: .1rem; }
    @media only screen and (max-width: 56.25em) {
      .platform-section .platform-content-left {
        text-align: center; } }
  .platform-section .platform-content-right {
    flex: 1;
    padding: 2rem 3rem;
    background-color: #21222166; }
    @media only screen and (max-width: 56.25em) {
      .platform-section .platform-content-right {
        margin-bottom: 3rem;
        padding: 1rem 2rem; } }
  .platform-section .platform-parag {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #7b7b7b;
    padding: 2rem 1rem 1.5rem 2rem; }
    @media only screen and (max-width: 56.25em) {
      .platform-section .platform-parag {
        padding: 1.5rem 1rem 1.5rem 0rem;
        margin-bottom: 1rem; } }
    .platform-section .platform-parag.active {
      background-color: #21222166;
      color: #ffffff; }
      @media only screen and (max-width: 56.25em) {
        .platform-section .platform-parag.active {
          background-color: transparent; } }
