.footer {
    background-color: $colorBlack2;
    padding: 3rem 2rem 5rem 2rem;

    @include maxWidthBreakpoint(880) {
        padding: 3rem 2rem 0rem 2rem;
    }

    & .footer-images-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -2rem;

        @include maxWidthBreakpoint(880) {
            margin-left: 0rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & a {
                margin-bottom: 2.5rem;
            }
        }
    }

    & .footer-img {
        height: 2rem;
        width: auto;

        @include maxWidthBreakpoint(880) {
            &:not(:last-child) {
                margin-bottom: 2.5rem;
            }
        }
    }

    & .footer-menu {
        max-width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include maxWidthBreakpoint(1100) {
            max-width: 100%;
        }
    }

    & .footer-menu-item {
       
        @include maxWidthBreakpoint(880) {
            display: flex;
            flex-direction: column;
            min-width: 50%;
            align-items: center;
           
            &:not(:last-child) {
                margin-bottom: 2.5rem;
            }
        }

        @include maxWidthBreakpoint(450) {
            min-width: 100%;
        }
    }

    & .menu-item-title {
        font-size: 1.2rem;
        color: $colorWhite;
        text-transform: uppercase;
        min-width: 15.5rem;
        min-height: 3rem;
        background-color: $colorGrey4;
        text-align: center;
        padding: 1rem;
        display: inline-block;
        
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

         @include maxWidthBreakpoint(880) {
            font-size: 1.7rem;
            min-width: 80%;
        }
    }

    & .footer-parag {
        font-size: 1.2rem;
        margin-bottom: .5rem;
        text-transform: uppercase;
        display: block;
        text-decoration: none;
        color: $colorWhite2;
        transition: all .3s;

        @include maxWidthBreakpoint(880) {
            padding-left: 0rem;
            font-size: 1.4rem;
        }

        &.link {
            padding-left: 2rem;

            @include maxWidthBreakpoint(880) {
                margin-bottom: 2rem;
                padding-left: 0rem;
            }

            &:hover {
                cursor: pointer;
                color: $colorGrey1;
            }
        }
    }
}