.header {
    max-width: 95%;
    padding: 3rem 10% 3rem 12%;
    display: flex;
    align-items: center;
    margin: 0 auto;

    @include maxWidthBreakpoint(1350) {
        padding: 3rem 6rem 3rem 7.5rem;
    }

    @include maxWidthBreakpoint(1200) {
        padding: 2rem 3rem 2rem 3rem;
    }

    & .logo-box {
        margin-right: auto;
        z-index: 55;
    }

    & .logo-img {
        @include maxWidthBreakpoint(1100) {
            height: 5rem;
            width: auto;
        }

        @include maxWidthBreakpoint(960) {
            height: 3.5rem;
            width: auto;
        }
    }
}