// MAIN NAVIGATION
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    padding-left: 7%;

    @include maxWidthBreakpoint(1100) {
        padding-left: 0%;
     }

    @include maxWidthBreakpoint(900) {
       display: none;
    }

    & .main-nav-link {

        &:link,
        &:visited {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: $colorGrey;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.4rem;
            transition: all .3s;
        }
            
        &:hover,
        &:active {
            color: $colorOrange;
        }
    }

    & .button.button-primary {
        @include maxWidthBreakpoint(960) {
            padding: .4rem 1.7rem;
        }
    }
}

// MOBILE NAVIGATION
.mobile-nav {
    display: none;
    height: 100vh;
    transform: translateY(-100vh);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s;
    z-index: 20;
    background-color: $colorBlack2;

    @include maxWidthBreakpoint(900) {
        display: block;
    }

    &.active {
        transform: translateY(0vh);
    }

    & .mob-nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    & .mnav-menu-item {
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 1.6rem;
        text-decoration: none;
        color: $colorOrange;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;

        &:not(:last-child) {
            margin-bottom: 6vh;
        }
    }
}

// MOBILE BAR
.mobile-menu-bar {
    display: none;
    z-index: 21;

    & .mobile-menu-close, & .mobile-menu-icon {
        display: none;
        transition: all .5s;
        width: 2.5rem;
        height: 2rem;
    }

    & .mobile-menu-close.active, & .mobile-menu-icon.active {
        display: block;
    }

    @include maxWidthBreakpoint(900) {
        display: flex;
        padding-top: .5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
    }
}