// CAROUSEL CUSTOM STYLES
.main-carousel {

    & .owl-stage-outer .owl-stage {
        max-height: 75vh;
        overflow: hidden;
    }

    & .owl-dots .owl-dot span {
        height: 1.5rem;
        width: 1.5rem;
        background-color: transparent;
        border: .3rem solid $colorBlue2;
    }

    & .owl-dots .owl-dot.active span {
        background-color: $colorBlue2;
    }

    &.owl-carousel .owl-item img {
        
        @include maxWidthBreakpoint(500) {
            width: initial;
            height: 75vh;
        }
    }

}

// INFO SECTION
.info-section {
    display: flex;
    padding-left: 16rem;
    margin-top: 3rem;

    @include maxWidthBreakpoint(1200) {
        padding-left: 6rem;
    }

    @include maxWidthBreakpoint(1000) {
        padding-left: 0rem;
    }

    & .info-section-content {
        display: flex;
        background-color: $colorWhite;
        position: relative;
        bottom: -5rem;
        right: 0;
        padding-left: 6rem;

        @include maxWidthBreakpoint(1450) {
            flex-direction: column;
        }

        @include maxWidthBreakpoint(900) {
            padding-left: 2rem;
        }

        @include maxWidthBreakpoint(900) {
            position: static;
        }
    }

    & img {
        position: absolute;
        bottom: -2rem;
        right: 0rem;

        @include maxWidthBreakpoint(1450) {
            position: relative;
        }

        @include maxWidthBreakpoint(1200) {
            max-height: 40rem;
        }
        
    }

    & .info-section-left {
        flex: 1;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-right: 5rem;

        @include maxWidthBreakpoint(1450) {
            padding-right: 5rem;
            justify-content: flex-start;
        }

        @include maxWidthBreakpoint(900) {
            padding-right: 2rem;
        }
    }

    & .info-section-right {
        flex: 1;
        min-width: 55%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        @include maxWidthBreakpoint(700) {
            display: none;
        }
    }
}

// PLATFORM SECTION
.platform-section {
    background-image: url('../img/tablet.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15rem 25.5rem 10rem 20.5rem;

    @include maxWidthBreakpoint(1200) {
        padding: 15rem 15rem 10rem 10rem;
    }

    @include maxWidthBreakpoint(1000) {
        padding: 15rem 5rem 5rem 5rem;
    }

    @include maxWidthBreakpoint(900) {
        padding: 7rem 2em 2rem 2rem;
    }

    @include maxWidthBreakpoint(700) {
        padding: 2rem;
    }

    & .heading-primary-light {
        padding-left: 1.5rem;
        margin-bottom: 3rem;


        @include maxWidthBreakpoint(900) {
            padding-left: 0rem;
        }
    }

    & .platform-content {
        display: flex;

        @include maxWidthBreakpoint(900) {
            flex-direction: column-reverse;
        }
    }

    & .platform-content-left {
        flex: 1;
        position: relative;
        left: .1rem;

        @include maxWidthBreakpoint(900) {
           text-align: center;
        }
    }

    & .platform-content-right {
        flex: 1;
        padding: 2rem 3rem;
        background-color: #21222166;

        @include maxWidthBreakpoint(900) {
            margin-bottom: 3rem;
            padding: 1rem 2rem;
        }
    }

    & .platform-parag {
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $colorGrey1;
        padding: 2rem 1rem 1.5rem 2rem;

        @include maxWidthBreakpoint(900) {
            padding: 1.5rem 1rem 1.5rem 0rem;
            margin-bottom: 1rem;
        }

        &.active {
            background-color: #21222166;
            color: $colorWhite;

            @include maxWidthBreakpoint(900) {
                background-color: transparent;
            }
        }
    }
}